@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: "Abb";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("/fonts/ABBRg.woff") format("woff"),
      url("/fonts/ABBRg.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Abb";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("/fonts/ABBMd.woff") format("woff"),
      url("/fonts/ABBMd.woff2") format("woff2");
    font-display: swap;
  }
} */
/* 
@layer base {
  html {
    @apply font-abb;
  }
} */
